<div class="navbar" [ngClass]="scrolled ? 'shadow':''">
  <div class="width-container">
    <div class="nav-content">
      <div class="logo" [hidden]="!scrolled"></div>
      <div class="nav-title" [hidden]="!scrolled">
        {{ (article.title.length > 45) ? (article.title | slice:0:40)+'...':(article.title) }}
      </div>
      <div class="close">
        <a [routerLink]="['/']">
          <img src="/assets/icons/close.svg">
          
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="main-title-container" *ngIf="article">
    <div class="main-title">
      {{article.title}}
    </div>
  </div>
  <div class="cover" [ngStyle]="{'background-image': 'url(http://localhost:3000' + article.cover.url + ')'}">
  </div>
  <div class="width-container">
    <div class="text" [innerHtml]="article.html_text">
    </div>
  </div>
</div>