.sidebar
  z-index: 2000
  position: fixed
  width: 0px
  height: 100%
  background-color: rgba(196,196,196, 0.6)
  right: 0
  top: 0px
  transition: 0.3s

.open
  width: 200px !important
  transition: 0.3s
.burger
  z-index: 3000
  height: 12px
  width: 16px
  background-color: grey
  position: absolute
  top: 13px
  cursor: pointer
  left: 10px
  background: url('/assets/icons/burger.svg')
  background-size: cover
  background-repeat: no-repeat

.logout
  width: 200px
  position: absolute
  bottom: 0
  height: 40px
  display: flex
  cursor: pointer
  .icon
    margin-top: 5px
    // margin-left: 5px
    min-width: 20px !important
    max-width: 20px !important
    height: 30px
    background-color: #ececec
  .text 
    margin-top: 5px
    margin-left: 10px
    height: 30px
    // margin-left: 10px
    width: 80px
    text-align: center
    padding-top: 3px
    font-family: 'philosopher-reg'
    box-sizing: border-box
    color: #0E2C49