<div class="navbar">
  <div class="blink">
    <div class="nav-content">
      <a href="/">
        <div class="nav-element">НОВОСТИ</div>
      </a>
      <a href="/">
        <div class="nav-element">О НАС</div>
      </a>
      <a href="/">
        <div class="nav-element">ПРОЕКТЫ И МЕРОПРИЯТИЯ</div>
      </a>
      <a href="/">
        <div class="nav-element">ОБУЧАЮЩИМСЯ</div>
      </a>
      <a href="/">
        <div class="nav-element">ПРОФОРГАМ</div>
      </a>
    </div>

    <div class="burger" [ngClass]="open ? 'hidden':''" (click)="openSidebar()"></div>
  </div>
</div>