<navbar></navbar>

<div class="sky">
  <div class="blink">
    <div class="rings">
      <div class="main-planet"></div>
    </div>
  </div>
  <div class="wave"></div>
</div>

<sidebar></sidebar>

<div class="content">
  <div class="big-title">
    <div class="line"></div>

    <div class="width-container">
      <div class="title-text">НОВОСТИ</div>
    </div>

  </div>
  <div class="width-container">
    <div class="news" [ngClass]="loaded ? 'disable':''">
      
      <div class="left-column column">
        <div
            [hidden]="odd"
            *ngFor="let fakeNew of fakeNews; let i = index; let odd = odd"
          >
            <div class="fakeNew" [style.height.px]=fakeNew.height></div>
        </div>        
      </div>
      
      <div class="right-column column"
      >
        <div [hidden]="even"
             *ngFor="let fakeNew of fakeNews; let i = index; let even = even"
        >
          <div class="fakeNew" [style.height.px]=fakeNew.height></div>
          
        </div>        
      </div>

    </div>

    <div class="news">

      <div class="left-column column"
      >
        <div
            [hidden]="odd"
            *ngFor="let new of news; let i = index; let odd = odd"
            class="real-new"
          >
            <a [routerLink]="['/article', new.id]">
              <div class="news-cont">
                <img [src]="new.url">
                <div class="fakeImg"
                   [ngStyle]="{'background-image': 'url(' + new.url + ')'}"
                ></div>
              </div>
              <div class="news-title">
                {{new.title}}
              </div>
            </a>
        </div>        
      </div>
      <div class="right-column column"
      >
        <div [hidden]="even"
             *ngFor="let new of news; let i = index; let even = even"
             class="real-new"
        >
            <a [routerLink]="['/article', new.id]">
              <div class="news-cont">
                <img [src]="new.url">
                <div class="fakeImg"
                   [ngStyle]="{'background-image': 'url(' + new.url + ')'}"
                ></div>                
              </div>
              <div class="news-title">
                {{new.title}}
              </div>                
            </a>
        </div>        
      </div>
    

    </div>
  </div>
</div>