<navbar></navbar>

<div class="sky">
  <div class="blink">
    <div class="rings">
      <div class="main-planet">
      </div>
      <div class="planet-group-1">
        <div class="text-group">
          <div class="planet-text planet-text-1-01">Стипендии</div>
          <div class="planet planet-1-01"></div>
        </div>
        <div class="text-group">              
          <div class="planet-text  planet-text-1-02">Соц. Рейтинг</div>
          <div class="planet planet-1-02"></div>
        </div>                      
      </div>
      <div class="planet-group-2">
        <div class="text-group">
          <div class="planet-text  planet-text-2-01">Мероприятия</div>        
          <div class="planet planet-2-01"></div>
        </div>
        <div class="text-group">
          <div class="planet-text  planet-text-2-02">ProfDSTU дисконт</div>        
          <div class="planet planet-2-02"></div>
        </div>
        <div class="text-group">          
          <div class="planet-text  planet-text-2-03">Мат. помощь</div>        
          <div class="planet planet-2-03"></div>
        </div>
        <div class="text-group"> 
          <div class="planet-text  planet-text-2-04">Профсоюзный блок</div>     
          <div class="planet planet-2-04"></div>                        
        </div>
      </div>
      <div class="planet-group-3">
        <div class="text-group">  
          <div class="planet-text  planet-text-3-01">Правовая среда</div>
          <div class="planet planet-3-01"></div>
        </div>
        <div class="text-group">  
          <div class="planet-text  planet-text-3-02">Продукция</div>        
          <div class="planet planet-3-02"></div>
        </div>
        <div class="text-group">  
          <div class="planet-text  planet-text-3-03">Отдых и оздоровление</div>
          <div class="planet planet-3-03"></div>
        </div>
        <div class="text-group">
          <div class="planet-text  planet-text-3-04">Общежития</div>
          <div class="planet planet-3-04"></div>        
        </div>
      </div>
    </div>
  </div>
  <div class="wave"></div>
</div>

<sidebar></sidebar>

<div class="content">
  <div class="big-title">
    <div class="line"></div>

    <div class="width-container">
      <div class="title-text">НОВОСТИ</div>
    </div>

  </div>
  <div class="width-container">
    <div class="news" [ngClass]="loaded ? 'disable':''">
      
      <div class="left-column column">
        <div
            [hidden]="odd"
            *ngFor="let fakeNew of fakeNews; let i = index; let odd = odd"
          >
            <div class="fakeNew" [style.height.px]=fakeNew.height></div>
        </div>        
      </div>
      
      <div class="right-column column"
      >
        <div [hidden]="even"
             *ngFor="let fakeNew of fakeNews; let i = index; let even = even"
        >
          <div class="fakeNew" [style.height.px]=fakeNew.height></div>
          
        </div>        
      </div>

    </div>

    <div class="news">

      <div class="left-column column"
      >
        <div
            [hidden]="odd"
            *ngFor="let new of news; let i = index; let odd = odd"
            class="real-new"
          >
            <a [routerLink]="['/article', new.id]">
              <div class="news-cont">
                <img [src]="'http://localhost:3000' + new.cover.url">
                <div class="fakeImg"
                   [ngStyle]="{'background-image': 'url(http://localhost:3000' + new.cover.url + ')'}"
                ></div>
              </div>
              <div class="news-title">
                {{new.title}}
              </div>
            </a>
        </div>        
      </div>
      <div class="right-column column"
      >
        <div [hidden]="even"
             *ngFor="let new of news; let i = index; let even = even"
             class="real-new"
        >
            <a [routerLink]="['/article', new.id]">
              <div class="news-cont">
                <img [src]="'http://localhost:3000' + new.cover.url">
                <div class="fakeImg"
                   [ngStyle]="{'background-image': 'url(http://localhost:3000' + new.cover.url + ')'}"
                ></div>                
              </div>
              <div class="news-title">
                {{new.title}}
              </div>                
            </a>
        </div>        
      </div>
    

    </div>
  </div>
</div>