$skeleton-grey: #9C9C9C
$sky-color: #0E2C49
.sky
  position: absolute 
  height: 100%
  width: 100%
  top: 0px
  background-color: $sky-color
  background-size: cover
  .blink
    height: 100%
    width: 100%
    position: relative
    background: url('/assets/images/blink.png')
    background-size: cover
    .rings
      position: relative
      width: 1200px
      height: 400px
      background-color: #ececec
      margin: 0px auto
      top: calc((100% - 300px)/2)
      background: url('/assets/images/rings.svg')
      background-size: 100%
      background-repeat: no-repeat
      cursor: pointer
      .main-planet
        height: 210px
        width: 210px
        margin: 0px auto
        position: relative
        background: url('/assets/images/main-logo.svg')
        background-size: 100%
        background-repeat: no-repeat
        z-index: 1000
      .planet
        position: absolute
        top: 0px
        background-color: #7FAEFF
        border-radius: 50%
        transition: 0.3s
        background-size: cover !important
        background-repeat: no-repeat
        &:hover
          transform: scale(1.1, 1.1)
      .text-group
        .planet-text
          top: 0px
          position: absolute
          color: white
          font-family: 'poiretone-reg'
      .planet-group-1
      .planet-1-01
        height: 64px
        width: 64px
        margin-left: 90px
        margin-top: 10px 
        background: url('/assets/images/icons/space/stip.svg')    
      .planet-text-1-01
        margin-left: 80px
        margin-top: -10px 
      .planet-text-1-02    
        margin-left: 177px
        margin-top: 125px
      .planet-1-02
        height: 50px
        width: 50px
        margin-left: 190px
        margin-top: 145px
        background: url('/assets/images/icons/space/rating.svg')        
      .planet-group-2
      .planet-text-2-01              
        margin-left: 390px
        margin-top: -10px
      .planet-2-01
        height: 34px
        width: 34px
        margin-left: 420px
        margin-top: 10px
        background: url('/assets/images/icons/space/events.svg')  
      .planet-text-2-02
        margin-left: 340px
        margin-top: 135px
      .planet-2-02
        height: 45px
        width: 45px
        margin-left: 370px
        margin-top: 155px
        background: url('/assets/images/icons/space/diskont.svg')
      .planet-text-2-03
        margin-left: 755px
        margin-top: 15px            
      .planet-2-03
        height: 45px
        width: 45px
        margin-left: 780px
        margin-top: 35px
        background: url('/assets/images/icons/space/money-back.svg')  
      .planet-text-2-04
        margin-left: 810px
        margin-top: -30px 
      .planet-2-04
        height: 45px
        width: 45px
        margin-left: 850px
        margin-top: -10px                    
      .planet-group-3
      .planet-text-3-01        
        margin-left: 745px
        margin-top: 125px
      .planet-3-01
        height: 54px
        width: 54px
        margin-left: 770px
        margin-top: 145px
        background: url('/assets/images/icons/space/law-environment.svg')  
      .planet-text-3-02
        margin-left: 960px
        margin-top: 15px
      .planet-3-02
        height: 54px
        width: 54px
        margin-left: 970px
        margin-top: 35px
        background: url('/assets/images/icons/space/production.svg')   
      .planet-text-3-03
        margin-left: 1030px
        margin-top: 125px
      .planet-3-03
        height: 64px
        width: 64px
        margin-left: 1080px
        margin-top: 145px
        background: url('/assets/images/icons/space/relax.svg')  
      .planet-text-3-04
        margin-left: 560px
        margin-top: 185px  
      .planet-3-04
        height: 60px
        width: 60px
        margin-left: 570px
        margin-top: 200px  
        background: url('/assets/images/icons/space/stud-houses.svg')                          

  .wave
    background-color: #ececec
    top: 0px
    position: absolute
    height: 125px
    width: 100%
    background: url('/assets/images/wave.png')
    background-size: 100%
    background-repeat: no-repeat
    top: calc(100% - 95px)
.content
  position: absolute
  top: 100%
  height: auto
  width: 100%
  .big-title
    height: 45px
    width: 100%
    .line
      height: 2px
      width: 100%
      position: absolute
      background-color: grey
      margin-top: 31px
    .title-text
      margin-left: -30px
      position: relative
      font-size: 2.5em
      height: 45px
      width: 240px
      text-align: center
      font-family: 'philosopher-reg'
      background-color: white


.width-container
  position: relative
  height: auto
  width: 920px
  margin: 0px auto
  margin-bottom: 50px
  .disable
    opacity: 0 !important
    transition: 0.5s
    position: absolute !important
    animation: disable
    animation-duration: 0.5s
  .news
    opacity: 1
    height: auto
    width: 100%
    position: relative
    // top: 40px
    // margin-top: 40px
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    transition: 0.5s
    .column
      height: auto
    .left-column
      width: 570px
    .right-column
      width: 310px
      // margin-left: 38px
    .real-new
      transition: 1.5s
      margin-top: 38px
      animation: newsAnim
      animation-delay: 0.5s
      animation-duration: 1.5s
      animation-fill-mode: backwards      
      position: relative
      // clip-path: inset(0px 0px)
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important
      .news-title
        position: absolute
        height: auto
        width: 70%
        padding-bottom: 15px
        padding-left: 15px
        color: white !important
        font-family: 'strong-reg'
        bottom: 4px
        z-index: 100
      .news-cont
        z-index: 10
        &:hover
          filter: blur(10px)
          .fakeImg
            background-size: 200%
      img
        opacity: 0
        height: auto
        width: 100%
      .fakeImg
        background-position: center
        transition: 0.5s
        position: absolute
        top: 0
        height: 100%
        width: 100%
        background-size: 100%
        background-repeat: no-repeat
        background-color: rgba(0,0,0,0.2)
    .fakeNew
      margin-top: 38px
      width: 100%
      background-color: $skeleton-grey

@keyframes newsAnim
  0%
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  100%
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
